In [1]:
import sqlite3 #similarly import required packages for other Databases

In [2]:
conn = sqlite3.connect('session.db') #This API opens a connection to the SQLite database file, 
                                  #Similarly we will make connection with other databases like Oracle, DB2 etc.
    
print ("Opened database successfully");

Opened database successfully

In [3]:
conn.execute('''CREATE TABLE COMPANY
         (ID INT PRIMARY KEY     NOT NULL,
         NAME           TEXT    NOT NULL,
         AGE            INT     NOT NULL,
         ADDRESS        CHAR(50),
         SALARY         REAL);''')

#The execute routine executes an SQL statement as shown.

print ("Table created successfully");

conn.close() #this closes the database connection

Table created successfully

---

**INSERT OPERATION**

Following Python program shows how to create records in the COMPANY table created in the above example.

In [4]:
conn = sqlite3.connect('session.db')
print ("Opened database successfully")
conn.execute("INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY) \
      VALUES (1, 'Kishi', 23, 'Delhi', 850000.00 )")


conn.execute("INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY) \
      VALUES (2, 'Ashy', 23, 'Gurgaon', 55000.00 )")

conn.execute("INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY) \
      VALUES (3, 'Ted', 25, 'Chennai', 90000.00 )")

conn.execute("INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY) \
      VALUES (4, 'Monty', 26, 'Punjab', 65000.00 )")

conn.commit() #This commits the current transaction

print ("Records created successfully")
conn.close()

Opened database successfully
Records created successfully

--------------------------------------------------------------------------------------------------------------------------------

**SELECT OPERATION**

Following Python program shows how to fetch and display records from the COMPANY table created in the above example.

In [5]:
conn = sqlite3.connect('session.db')
print ("Opened database successfully")

cursor = conn.execute("SELECT id, name, address, salary from COMPANY")

for row in cursor:
   print ("ID = ", row[0])
   print ("NAME = ", row[1])
   print ("ADDRESS = ", row[2])
   print ("SALARY = ", row[3], "\n")

print ("Operation done successfully")
conn.close()

Opened database successfully
ID =  1
NAME =  Kishi
ADDRESS =  Delhi
SALARY =  850000.0

ID =  2
NAME =  Ashy
ADDRESS =  Gurgaon
SALARY =  55000.0

ID =  3
NAME =  Ted
ADDRESS =  Chennai
SALARY =  90000.0

ID =  4
NAME =  Monty
ADDRESS =  Punjab
SALARY =  65000.0

Operation done successfully

---

**UPDATE OPERATION**

Following Python code shows how to use UPDATE statement to update any record and then fetch and display the updated records from the COMPANY table.

In [6]:
conn = sqlite3.connect('session.db')
print ("Opened database successfully")

conn.execute("UPDATE COMPANY set SALARY = 25000.00 where ID = 1")
conn.commit
print ("Total number of rows updated :", conn.total_changes)

cursor = conn.execute("SELECT id, name, address, salary from COMPANY")
for row in cursor:
   print ("ID = ", row[0])
   print ("NAME = ", row[1])
   print ("ADDRESS = ", row[2])
   print ("SALARY = ", row[3], "\n")

print ("Operation done successfully")

conn.close()

Opened database successfully
Total number of rows updated : 1
ID =  1
NAME =  Kishi
ADDRESS =  Delhi
SALARY =  25000.0

ID =  2
NAME =  Ashy
ADDRESS =  Gurgaon
SALARY =  55000.0

ID =  3
NAME =  Ted
ADDRESS =  Chennai
SALARY =  90000.0

ID =  4
NAME =  Monty
ADDRESS =  Punjab
SALARY =  65000.0

Operation done successfully

---

**DELETE OPERATION**

Following Python code shows how to use DELETE statement to delete any record and then fetch and display the remaining records from the COMPANY table.

In [7]:
conn = sqlite3.connect('session.db')
print ("Opened database successfully")

conn.execute("DELETE from COMPANY where ID = 2;")
conn.commit()
print ("Total number of rows deleted :", conn.total_changes)

cursor = conn.execute("SELECT id, name, address, salary from COMPANY")
for row in cursor:
   print ("ID = ", row[0])
   print ("NAME = ", row[1])
   print ("ADDRESS = ", row[2])
   print ("SALARY = ", row[3], "\n")

print ("Operation done successfully")
conn.close()

Opened database successfully
Total number of rows deleted : 1
ID =  1
NAME =  Kishi
ADDRESS =  Delhi
SALARY =  850000.0

ID =  3
NAME =  Ted
ADDRESS =  Chennai
SALARY =  90000.0

ID =  4
NAME =  Monty
ADDRESS =  Punjab
SALARY =  65000.0

Operation done successfully

---

**SELECT**, **ORDER BY** QUERIES

In [8]:
conn = sqlite3.connect('session.db')
print ("Opened database successfully")

cursor = conn.execute("SELECT id, name from COMPANY ORDER BY id DESC; ")

for row in cursor:
    print("ID= ", row[0])
    print("NAME=", row[1])
    print("\n")

Opened database successfully
ID=  4
NAME= Monty


ID=  3
NAME= Ted


ID=  1
NAME= Kishi

---

**WHERE** CLAUSE

In [9]:
conn = sqlite3.connect('session.db')
print ("Opened database successfully")

cursor = conn.execute("SELECT id, name from COMPANY WHERE id%2!=0; ")

for i in cursor:
    print(i)

Opened database successfully
(1, 'Kishi')
(3, 'Ted')