# DataFrames

In [1]:
import pandas as pd
import numpy as np


- Create a dataframe with these details
- ** np.random.randn(5,4) ** as first argument
- ** index = ['A','B','C','D','E'] **
- ** columns= ['F','G','H','I','J'] **

In [2]:
df = pd.DataFrame(np.random.randn(3,3), index=['A','B','C'], columns=['F','G','H'])
df

          F         G         H
A -1.069273 -0.834158  0.942628
B -1.502824  0.318083 -0.513670
C -0.206788 -1.755282  0.020495

- Create a dictionary of equal length lists and pass it to a DataFrame
- data = { "movieid" : [1,2,3,4,5,6,7,8], "moviename": ["Toy Story (1995)", "Jumanji (1995)","Grumpier Old Men (1995)","Waiting to Exhale (1995)","Father of the Bride Part II (1995)","Heat (1995)","Sabrina (1995)","Tom and Huck (1995)"]}

In [3]:
data = { "movieid" : [1,2,3,4,5,6,7,8], 
        "moviename": ["Toy Story (1995)", "Jumanji (1995)",
                      "Grumpier Old Men (1995)",
                      "Waiting to Exhale (1995)",
                      "Father of the Bride Part II (1995)",
                      "Heat (1995)","Sabrina (1995)",
                      "Tom and Huck (1995)"]}
df = pd.DataFrame(data)
df

   movieid                           moviename
0        1                    Toy Story (1995)
1        2                      Jumanji (1995)
2        3             Grumpier Old Men (1995)
3        4            Waiting to Exhale (1995)
4        5  Father of the Bride Part II (1995)
5        6                         Heat (1995)
6        7                      Sabrina (1995)
7        8                 Tom and Huck (1995)

- Add an extra column using the **columns** parameter
- Can assign values to the newly created row using scalar assignment ** data['rating'] = 0 **
- Cool thing is, we can assign a named index series to a newly created row and will update the matching rows !

In [4]:
df

   movieid                           moviename
0        1                    Toy Story (1995)
1        2                      Jumanji (1995)
2        3             Grumpier Old Men (1995)
3        4            Waiting to Exhale (1995)
4        5  Father of the Bride Part II (1995)
5        6                         Heat (1995)
6        7                      Sabrina (1995)
7        8                 Tom and Huck (1995)

- Name a the columns and the index (rows) just like we did for series **df.index.name ="XYZ" df.columns.name="ABC"**

## Selection and Indexing

- Various methods to grab data from a DataFrame
- Column values can be used as dictionary keys
- .loc to access by row

- Just get the values df.values
- Check the datatype

----
- As a dictionary ** df['F'] **
- As dot infix notation ** df.W ** (Not very popular)

- Also possible to fetch row based data using df.loc['A'] or df.iloc[1]

- Can also pass a list of column names ** df[['F','G']] **
- Also check the data types of selecting a single column and selecting multiple columns
- When its a series check the name attribute also !

- Creating a new column through computation
- ** df['new']= df['W'] + df['Y'] **

- Dropping rows and columns
- rows can be dropped by index
- columns can be dropped by mentioning column name and axis = 1
- there is an inplace parameter that can be passed **inplace=True** to effect a change in the underlying DF

- Selecting subset of rows and columns
- df.loc[['A','B'],['W','Y']]
- df.loc['A','W']

### Conditional Selection

An important feature of pandas is conditional selection using bracket notation, very similar to numpy:
- df > 0
- df[df>0]
- df[df['W']>0]
- df[df['W']>0]['Y']
- df[(df['W']>0) & (df['Y'] > 1)]

For two conditions you can use | and & with parenthesis:

## Working with Index

In [5]:
df

   movieid                           moviename
0        1                    Toy Story (1995)
1        2                      Jumanji (1995)
2        3             Grumpier Old Men (1995)
3        4            Waiting to Exhale (1995)
4        5  Father of the Bride Part II (1995)
5        6                         Heat (1995)
6        7                      Sabrina (1995)
7        8                 Tom and Huck (1995)

- Reset the index using reset_index()

- Attach a new index
- Create a list of index labels
- Add the index as a column say 'city'
- use set_index('city')

- reindex. Reindex helps in rearranging the index by providing missing data